{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content-section container m-5 bg-light mx-auto shadow p-5">
        <h4>All blog Posts</h4>
        {% for post in post %}


        <div class="border p-2 mb-2 border-bottom">
            
            <div>
                <small>Post by: <a class="mr-2 " href="#">{{ post.author }}</a></small><br>
                <small class="text-muted">{{ post.createdAt|date:"F d, Y" }}</small>
            </div>

            <div>
                <h3><a class="article-title" href="{% url 'detailPost' post.id %}">{{ post.title }}</a></h3>
                <p>{{ post.body|slice:":200"  }}...</p>
            </div>

        </div>
        
        
        
        {% endfor %}
       
    </div>
{% endblock content %}